.shadow-decor {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.page {
  color: var(--text-color, #f1b2ce);
  font-family: var(--page-font-family, "IBM Plex mono", monospace);
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--page-background-color, #000028);
  background-image: var(--page-background-image, url("../images/cover-image.png"));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.page-title {
  color: var(--brand-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.header {
  height:100vh;
  min-height: 668px;
  padding: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--secondary-color, #ff0070);
  border-block-start: 1px solid var(--secondary-color, #ff0070);
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--secondary-color, #ff0070);
  border-block-end: 1px solid var(--secondary-color, #ff0070);
  bottom: 10px;
  left: 10px;
}

.link {
  color: var(--text-color, #f1b2ce);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--text-color, #f1b2ce);
}

.link:focus {
  outline: 0;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.rec {
  position: absolute;
  text-transform: uppercase;
  top: 10px;
  right: 19px;
  visibility: var(--rec-decor-visibility, visible);
  color: var(--accent-color, #ff0070);
}

.rec::after {
  content: "";
  display: inline-block;
  justify-self: end;
  box-shadow: 0px 0px 4px 2px var(--accent-color, #ff0070);
  background: var(--accent-color, #ff0070);
  margin-inline-start: 10px;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  margin-bottom: 2px;
}

.header__theme-menu {
  justify-self: end;
  margin-block: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  font-family: var(--page-font-family, "IBM Plex mono", monospace);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  border: 1px solid transparent;
  height:26px;
  width:70px;
  padding: 1.5px 13px 4.5px;
  color: var(--secondary-color, #ff0070);
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--secondary-color-o-40, #FF007066);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__title {
  margin-block: 55px;
  color: var(--highlight-color, #000028);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  background: var(--accent-color, #ff0070);
}

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

.section {
  display: grid;
  gap: 20px;
}

.section-gallery {
  gap: 10px;
}

.section-how__title {
  margin-block-end: 20px;
}

.title {
  color: var(--secondary-color, #ff0070);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
}

.title-decor {
  color: var(--highlight-color, #000028);
  background: var(--accent-color, #ff0070);
}

.subtitle {
  font-weight: 400;
  font-size: inherit;
  line-height: inherit;
}

.articles-list {
  display: grid;
  gap: 20px;
}

.article {
  display: grid;
  gap: 10px;
}

.gallery-list {
  display: grid;
  gap: 10px;
}

.gallery-list__item-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.cover {
  display: grid;
  place-items: center;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  height:100vh;
  min-height: 668px;
}

@media (width >= 768px) {
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
  .rec {
    inset-inline-end: 29px;
    inset-block-start: 21px;
  }

  .page-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .section {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }

  .section-what__articles-list {
    grid-column-start: span 2;
  }

  .section-gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .section-how__articles-list {
    grid-column-start: 2;
  }

  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery-list__item:first-child,
  .gallery-list__item:last-child {
    grid-column-start: span 2;
  }

  .gallery-list__item:nth-child(2),
  .gallery-list__item:nth-child(3) {
    grid-row-start: span 2;
  }

  .header {
    min-height: 1024px;
    padding: 20px;
    padding-inline-start: 0;
  }

  .header__theme-menu {
    margin-block-start: 172px;
    margin-block-end: 173px;
  }

  .header__title {
    margin-block: 162px;
    justify-self: end;
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }
}

@media (width >= 1024px) {
  .section {
    column-gap: 30px;
  }

  .section-what__articles-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .header {
    min-height: 768px;
  }

  .header__title {
    margin-block: 114px;
  }

  .header__theme-menu {
    justify-self: center;
    margin-inline-start: 20px;
    margin-block-start: 0;
    margin-block-end: 273px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}